<!DOCTYPE html>
<html>
<head>
	<title>Campuses</title>
	<meta charset="UTF-8">
</head>
<body>
<p>Welcome to the campus page!</p>

<form action="/campuses" method="POST">
    <input type="text" name="name" placeholder="Campus Name">
    <button type="submit">Save</button>
</form>

</body>
</html>